ion-content {
    --ion-background-color:  rgba(11, 90, 236, 0.973);
  }
  ion-content {
    border-bottom: 5px solid red;
    border-top: 5px solid red;
}
  ion-title{
   color:white;  
  }

  ion-item{
    color:white; 
  }

  ion-button{
  color: white; 
  }

  ion-button{
    --ion-background-color: rgb(161, 12, 12); 
    }