 <ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
   Reservacion de citas
    </ion-title>
  </ion-toolbar>
</ion-header> 


<ion-content>
<!-- Card for adding a new event -->
<ion-card>
  <ion-card-header tappable (click)="collapseCard = !collapseCard">
    <ion-card-title text-center>Nueva cita</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="!collapseCard">

    <ion-item>
      <ion-label>Tipo Servicio</ion-label>
      <ion-select  placeholder="select"  [(ngModel)]="event.title">
        <ion-select-option>corte Cabello</ion-select-option>   
        <ion-select-option>corte Barba</ion-select-option> 
        <ion-select-option>Limpieza facil</ion-select-option>       
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Barbero</ion-label>
      <ion-select placeholder="select" >
        <ion-select-option >Cliente</ion-select-option>  
      </ion-select> 
    </ion-item>
          <ion-item >
            <ion-label>Inicio</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>final</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
          </ion-item>
  
    <ion-button fill="outline" expand="block" (click)="addEvent()">Agregar cita</ion-button>

  </ion-card-content>
</ion-card>

  <!-- Move back one screen of the slides -->
  <ion-row>
    <ion-col size="6" text-left>
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
   
    <!-- Move forward one screen of the slides -->
    <ion-col size="6" text-right>
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row> 
  
  <calendar 
  [eventSource]="eventSource" 
  [calendarMode]="calendar.mode" 
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)" 
  startHour="6"
  endHour="20"
  step="30"
  startingDayWeek="1">
  </calendar>
</ion-content>
