ion-item{
    margin-bottom: -10px;
    margin-top: -10px;
  border-bottom: red;
}

.fila1{
    background-color: grey;
    border-bottom: 2px solid rgb(51, 49, 49);
}

.item1{
    margin-left: -18px;
}
