
ion-card-title {
  color: blue;
  text-align: center;
}

h5 {
  color: rgb(165, 31, 31);
  margin-top: -2px;
  margin-bottom: -8px;
}

ion-searchbar{
  margin-bottom: -20px;
  --ion-background-color:  rgba(66, 172, 233, 0.973);
  color: white;
}

ion-item{
  border-bottom:rgb(114, 25, 25) 1px solid;
}

ion-label{
  color: white;
}

ion-content {
  --ion-background-color:  rgba(66, 172, 233, 0.973);
}

ion-card{
  --ion-background-color:  rgba(66, 172, 233, 0.973);
}


