<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Whole Barber shop</ion-card-subtitle>
      <ion-card-title>A tu disposicion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        A continuacion te invitamos a ver el listado de barberias para que puedas elegir la de tu preferencia
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Baberias en SPS</ion-label>
    </ion-list-header>
      <!-- Aqui voy a mostrar las barberias subcriptas a la APP -->
  </ion-list>
</ion-content>
