ion-content {
    --ion-background-color:  rgba(66, 172, 233, 0.973);
  }
  ion-card-header{
    border-bottom: 1px solid rgb(0, 47, 255);

  }   

  ion-card-subtitle{
      color:red;
      text-align: center;
  }

  ion-card-title{
    text-align: center;
    color: blue;
  }