<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mis Citas
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content >
    <ion-list *ngFor="let cit of moscita">
      <ion-item >
        <h5 color="dark">Fecha:</h5><label padding>{{ cit.Fecha}}</label>
      </ion-item>
        <ion-item >
      <h5 color="dark">Inicio:</h5><label padding>{{cit.Inicio}}</label>
      </ion-item>
      <ion-item >
        <h5 color="dark">Final:</h5><label padding>{{cit.Final}}</label>
      </ion-item> 
      <ion-item >
        <h5 color="dark">Barberia:</h5> <label padding>{{cit.barberias}}</label>
      </ion-item>
      <ion-item >
        <h5 color="dark">Barbero:</h5> <label padding>{{cit.Id_Barbero}}</label>
      </ion-item>
      <ion-item>
        <h5 color="dark">Servicio:</h5> <label padding>{{cit.Nombre}}</label>
      </ion-item> 
    </ion-list>
</ion-content>
